@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)(implicit session: Session)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/style.css")">
    </head>
    <body>
        @* And here's where we render the `Html` object containing
         * the page content. *@
        <nav class="navbar" id="header">
            <div class="container">
                <div class="nav navbar-nav navbar-right">
                    <form class="form-inline">
                        <div class="form-group">
                            @session.get("email") match {
                                case Some(email) => {
                                    <div style="margin-top: 7px">
                                        <label>Hello @email</label>
                                        <button type="button" class="btn btn-default" onclick="window.location.href='/logout'">Logout</button>
                                    </div>
                                }
                                case None => {<button type="button" style="margin-top: 7px;" class="btn btn-default" onclick="window.location.href='/login'">Login</button>}
                            }
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <div class="container" style="margin-top: 200px">
            @content
        </div>
    </body>
</html>
